/*Global Styles*/

body {
    font-family: 'Bungee Hairline', cursive;
    margin: 0px;
    text-shadow: 1px 1px grey;
    height: 900px;
    transition:all 0.3s ease;
}

a {
    text-decoration: none;    
}

a:visited {
  color: inherit;
}

a:hover {
  text-shadow: 2px 2px cyan;
}

.clearfix {
  clear:both;
}

.clearfix:after {
  display: table;
  content: " ";
  clear:both;
}

/*Header Stying*/
.logo {
  text-align: center;
  margin: 30px 0px;
  font-size: 3.5em;
  text-shadow: 2px 2px grey;
  color: black;
}

nav ul {
  text-align: center;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

nav ul li {
  display: inline-block;
  margin: 10px 0px;
  text-align: center; 
  padding: 20px 65px 20px 60px;
  border-right: 1px solid;
}

#contact_nav {
  border-right: none;
}

/*Home Page styling*/

article ul {
  margin: 60px 20px 60px 20px;
  padding: 30px 0px; 
  background-color: whitesmoke;
  box-shadow: 0px 0px 15px 2px grey; 
  border-radius: 10px;
}

article ul li {
  list-style-type: none;
}

article ul li img {
  width: 350px;
  height: 225px;
  float: left;
  margin: 40px 55px;
  box-shadow: 0px 0px 4px 4px grey;
  border-radius: 10px;
}

.section_divider {
  border: 0; 
  height: 1px; 
  width: 80%;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

#about_us {
  margin: 40px 0px;
}

.left_col {
  display: inline-block;
  margin: 10px 50px;
  width: 45%;
}

.left_col h2 {
  margin: 5px 0px;
}

.right_col {
  display: inline-block;
  width: 45%;
  margin: 10px 20px;
  float: right;
}

#story {
  font-size: 2em;
  text-align: center;
}

#chinook {
  margin: 40px auto;
  width: 30em;
}

#chinook:hover {
  transition: all .5s ease;
  -webkit-transform: rotateZ(+15deg);
  -ms-transform: rotateZ(+15deg);
  transform: rotateZ(+15deg);
}

#product_divider {
  margin-top: 40px;
  margin-bottom: 40px;
}

section h2 {
  text-align: center;
  font-size: 2em;
  margin: 30px 0px 30px 0px;
}

section ul li {
  list-style-type: none;
}

section ul li img {
  width: 369px;
  height: 250px;
  float: left;
  margin: 40px 55px 20px 55px;
  box-shadow: 0px 0px 4px 4px grey;
  border-radius: 10px;
}

#ect {
  margin-left: 42.5px;
}

figcaption {
  display: inline-block;
  margin: 0px 38px;
  text-align: center;
}

#handler_img_cap {
  margin-left: 110px;
}

#in_cookies_cap {
  margin-left: 160px;
}

#contact {
  font-size: 3em;
  text-align: center;
  margin: 0px 0px 50px 0px;
}

#product1 {
  margin: 30px 100px 30px 225px;
}

#product2 {
  margin: 30px 100px 30px 100px;
}

#cutter_cap {
  margin-left:230px;
  margin-bottom: 30px;
}

#shirt_cap {
  margin-left:145px;
}

/*Sales page styling*/

/*Table styling*/

table {
  font-size: 1em;
  /*width: 400px;*/
  overflow-x: auto;
  transition: all .5s ease;
}

#store_name {
  margin: 10px 20px 40px 20px;
}

#table-title {
  text-align: center;
}

table, th, td {
   border: 2px solid black;
}

td, th, tr {
  padding: 5px 5px;
  text-align: center;
}

td:hover {
  background-color: #f5f5f5;
}

th:hover {
  background-color: #f5f5f5;
}

tr:nth-child(even) {background-color: lightgray}

.threed:hover {
  box-shadow:
    0px 0px 5px grey,
    0px 0px 5px grey,
    0px 0px 5px grey;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

/*Image styling*/
#salmon {
  display: block;
  width: 48em;
  margin: 40px auto 0px auto;
  transition: all .9s ease;
}

.grow:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0px 0px 10px lightslategrey;
  border: thick black;
}

#salmon_pic {
  padding: 20px 0px 0px 0px;
  margin: 20px 0px;
}


/*form styling*/

form {
  border: 3px solid darkgrey;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px;
  width: 70%;
  margin: 50px auto 100px auto;
}

form label {
  display: block;
  font-size: 1.75em; 
  height: 50px;
  margin: 15px;
}

input {
  font-family: inherit;
  padding: 10px;
  margin: 8px 10px 5px 10px;
  border: 1px solid;
  border-radius: 5px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  font-size: .5em;
  width: 10%;
}

input:focus {
    width: 15%;
}

#submit {
  font-family: 'Bungee Hairline', cursive;
  color: #090909;
  width: 15%;
  height: 10%;
  background-color: whitesmoke;
  margin: 20px;
  box-shadow: .5px .5px .5px .5px;
  -webkit-transition: none;
  transition: none;
  font-size: 1.25em;
  text-shadow: 1px 1px grey;
}