/*Global Styles*/

body {
    font-family: 'Bungee Hairline', cursive;
    margin: 0px;
    text-shadow: 1px 1px grey;
    height: 900px;
}

a {
    text-decoration: none;    
}

a:visited {
  color: inherit;
}

a:hover {
  text-shadow: 2px 2px cyan;
}

/*Header Stying*/
.logo {
  text-align: center;
  margin: 30px 0px;
  font-size: 3em;
  text-shadow: 2px 2px grey;
  color: black;
}

nav ul {
  text-align: center;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

nav ul li {
  display: inline-block;
  margin: 10px 0px;
  text-align: center; 
  padding: 20px;
  padding-left: 15px;
  border-right: 1px solid;
  /*border: 1px solid grey;*/
  /*box-shadow: 2px 2px 2px 1px grey;*/
}

#contact {
  border-right: none;
}

/*Store section styling*/
#store_name {
  margin: 10px 20px;
}

#table-title {
  text-align: center;
}

/*Table styling*/

table {
  font-size: 1em;
  /*width: 400px;*/
  overflow-x: auto;
}

table, th, td {
   border: 2px solid black;
}

td, th, tr {
  padding: 5px 5px;
  text-align: center;
}

td:hover {
  background-color: #f5f5f5;
}

th:hover {
  background-color: #f5f5f5;
}

tr:nth-child(even) {background-color: lightgray}

/*Image styling*/
#salmon {
  display: block;
  width: 48em;
  margin: 40px auto 80px auto;
}

img:hover {
  box-shadow: 0px 0px 10px lightslategrey;
  border: thick black;
}
/*form styling*/

form {
  border: 3px solid darkgrey;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px;
  width: 70%;
  margin: 100px auto;
}

form label {
  display: block;
  font-size: 1.75em; 
  height: 50px;
  margin: 15px;
}

input {
  font-family: inherit;
  padding: 10px;
  margin: 8px 10px 5px 10px;
  border: 1px solid;
  border-radius: 5px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  font-size: .5em;
  width: 10%;
}

input:focus {
    width: 15%;
}

#submit {
  font-family: 'Bungee Hairline', cursive;
  color: #090909;
  width: 15%;
  height: 10%;
  background-color: whitesmoke;
  margin: 20px;
  box-shadow: .5px .5px .5px .5px;
  -webkit-transition: none;
  transition: none;
  font-size: 1.25em;
  text-shadow: 1px 1px grey;
}

#cameron {
  width: 100%;
}

iframe {
  width: 100%;
  margin: 0px auto;
  height: 700px;
}